* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Merriweather", serif;
}

:root {
    font-size: 62.5%;
    --nav-height: 7.2rem;

    --blue-900: #004D4B;
    --blue-800: #005654;
    --blue-700: #196665;
    --blue-600: #337776;
    --blue-500: #4C8887;
    --blue-400: #669998;
    --blue-300: #7FAAA9;
    --blue-200: #99BBBA;

    --text-blue-white: #E5FFFE;
    --text-blue-black: #005956;

    --white: #f1f1f1;
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  ul {
    list-style: none;
  }

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  section {
    padding-block: 10rem;
  }

  ::-webkit-scrollbar {
    width: 1rem;
    background-color: #dadada;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: #005654;
  }